canvas {
    background-color:white;
    -webkit-box-shadow: 0px 0px 8px 0px white;
    -moz-box-shadow: 0px 0px 8px 0px white;
    box-shadow: 0px 0px 8px 0px white;
}
body {
    background-color:black;
    color:white;
    padding-left:20px;
	padding-top:150px;
    font-family:tahoma;
}
#paletteselection {
    position:absolute;
    bottom:0px;
    right:0px;
    width:250px;
}
h1 {
    position:fixed;
    top:0px;
    font-size:30px;
    color:cyan;
}
a {
    color:white;
    text-decoration: none;
}
table {
    border-color:white;
    border-style:dashed;
    border-width: 1px;
}
#user_name {
    position: absolute;
    top: 0px;
    right: 30px;
}
#user_photo {
    position: absolute;
    top: 0px;
     right: 120px;
}
#login_button {
    position: absolute;
    top: 20px;
}
header a { 
    display: block; 
    width:  20%; 
    height: 40px; 
    float: left;
    z-index: 999;
    text-align: center; 
    line-height: 50px;
    font-size: 20px; 
    text-decoration: none;
    color: white; 
}
header { 
    display: block; 
    width: 100%; 
    height: 75px; 
    position: fixed; 
	top:75px;
    z-index: 999;
}
header a:hover,
header a:focus,
header a:active { 
    background: rgba(230,240,239,0.2);
}
#panel{
    position: fixed;
    z-index: 9999;
    width: 22%;
    height: 35%;
    right: 2px;
    bottom:0px;
    background-color:#333333;
    display: none;
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    padding-bottom:100px
}     
