<!DOCTYPE HTML>
<head>
  <title>
    StoryBoard - Board
  </title>
  <style type="text/css">
     body{
  		background-color:#222222;
			color:white;
			padding-left:50px;
		}
		h1{
			font-size:30px;
			color:cyan;

		}
	}
    table{
      border-color:white;
    }
    canvas{
    	border-color:white;
    	border-width:3px;
    	border-style:solid;
    }
  </style>
</head>
<body>
<table width="100%">
  <tr>
    <td>Homepage</td>
    <td>Whiteboard</td>
    <td>Logout</td>
  <tr>
</table>
  Hello, {{name}}. 
  <canvas height=300 width=570>
  <!-- Dexter can make his canvas here -->
  </canvas>
</body>
