<!DOCTYPE html> 
<html xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <style type="text/css">
      canvas{
      background-color:gray;
      }
      body{
      background-color:#222222;
      color:white;
      padding-left:50px;
      }
      h1{
      font-size:30px;
      color:white;
      }
      a{
      color:white;
      }
	 table{
      border-color:white;
     border-style:dashed;
     border-width:1px;
    }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="static/scripts.js"></script>
  </head>
  <body onload="init()">
	   <div id="fb-root"></div>
    <canvas id="can" width="960"height="540" style="position:absolute;top:120px;left:25px;border:2px solid;"></canvas>
    <h1>StudyBoard</h1>
	<table  width=100%>
	<tr>
		<td width=25%><a href="index.html">Home</a></td>
		<td width=25%>Whiteboard</td>
		<td width=25%>Credits</td>
	</tr>
	</table>
    <div style="position:absolute;right:100px;" id="fb stuff">
      <button id="fb-auth">Login</button>
      <br />
      <div id="user-info"></div>
      <br />
      <div id="debug"></div>
    </div>
    <div style="position:absolute;top:12%;left:1200px;">Choose Color</div>
    <div style="position:absolute;top:15%;left:1200px;width:30px;height:30px;background:green;" id="green" onclick="color(this)"></div>
    <div style="position:absolute;top:15%;left:1250px;width:30px;height:30px;background:blue;" id="blue" onclick="color(this)"></div>
    <div style="position:absolute;top:15%;left:1300px;width:30px;height:30px;background:red;" id="red" onclick="color(this)"></div>
    <div style="position:absolute;top:19%;left:1200px;width:30px;height:30px;background:yellow;" id="yellow" onclick="color(this)"></div>
    <div style="position:absolute;top:19%;left:1250px;width:30px;height:30px;background:orange;" id="orange" onclick="color(this)"></div>
    <div style="position:absolute;top:19%;left:1300px;width:30px;height:30px;background:black;" id="black" onclick="color(this)"></div>
    <div style="position:absolute;top:23%;left:1200px;">Eraser</div>
    <div style="position:absolute;top:25%;left:1200px;width:100px;height:30px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
    <input type="button" value="save" id="btn" size="30" onclick="save()"style="position:absolute;top:680px;left:25px;">
    <input type="button" value="clear" id="clr" size="23" onclick="erase()"style="position:absolute;top:680px;left:80px;">
    <input type="button" value="load" id="ld" size="23" onclick="load()"style="position:absolute;top:680px;left:135px">
    <p style="position:absolute;top:700px;left:25px;">Credits to <a href="http://stackoverflow.com/questions/2368784/draw-by-mouse-with-html5-canvas">Stackoverflow</a> for the whiteboard code</p>
  </body>
</html>
