<!DOCTYPE html> 
<html xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <style type="text/css">
      canvas{
      background-color:gray;
      }
      body{
      background-color:gray;
    }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="static/scripts.js"></script>
  </head>
  <body onload="init()">
    <div id="fb-root"></div>   
    <canvas id="can" width="576"height="324" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas>
    <div style="position:absolute;top:12%;left:73%;">Choose Color</div>
    <div style="position:absolute;top:15%;left:75%;width:30px;height:30px;background:green;" id="green" onclick="color(this)"></div>
    <div style="position:absolute;top:15%;left:77%;width:30px;height:30px;background:blue;" id="blue" onclick="color(this)"></div>
    <div style="position:absolute;top:15%;left:79%;width:30px;height:30px;background:red;" id="red" onclick="color(this)"></div>
    <div style="position:absolute;top:19%;left:75%;width:30px;height:30px;background:yellow;" id="yellow" onclick="color(this)"></div>
    <div style="position:absolute;top:19%;left:77%;width:30px;height:30px;background:orange;" id="orange" onclick="color(this)"></div>
    <div style="position:absolute;top:19%;left:79%;width:30px;height:30px;background:black;" id="black" onclick="color(this)"></div>
    <div style="position:absolute;top:23%;left:73%;">Eraser</div>
    <div style="position:absolute;top:25%;left:75%;width:100px;height:30px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
    <input type="button" value="save" id="btn" size="30" onclick="save()"style="position:absolute;top:55%;left:10%;">
    <input type="button" value="clear" id="clr" size="23" onclick="erase()"style="position:absolute;top:55%;left:15%;">
    <input type="button" value="load" id="ld" size="23" onclick="load()"style="position:absolute;top:55%;left:20%;">
    <div id="fb stuff" style="position: absolute; top: 70%;">
      <button id="fb-auth">Login</button>
      <br />
      <div id="user-info"></div>
      <br />
      <div id="debug"></div>
    </div>
  </body>
 </html>
