<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="all"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="static/scripts.js"></script>
    <a href="home.html">
      <div id="bannerleft"><img src="static/images/bannerleft.png" style="position:absolute;left:0px;top:0px"></div>
      <div id="bannercenter"></div>
      <div id="bannerright"><img src="static/images/bannerright.png" style="position:absolute;right:0px;top:0px"></div>
    </a>
  </head>
  <body onload="init()">
    <div id="fb-root">
    </div>
    <header>
      <a href="home.html">Home</a>
      <a href="whiteboard.html">Live Whiteboard</a>
      <a href="sheets.html">Studysheets</a>
      <a href="credits.html">Credits</a>
    </header>
    <div id="fb-postlog" style="position:absolute;right:100px;top:10px;">
      <div id="user-info"></div>
      <button id="login_button">Login</button>
      <div id="debug"></div>
    </div>
    <p>
      Welcome to <font color=cyan>StudyBoard</font>, an online study tool developed by four Stuyvesant High School seniors, none of whom are extraordinarily good-looking young women..
    </p>
    <p>
      <font color=cyan>StudyBoard</font> currently has a live whiteboard and a studysheet uploading system. The whiteboard system can be used to
    draw notes and share them in real time. It is complemented with a live chat feature that can be used for discussion.
    </p>
	<p>
	The Studysheet system can also be used to upload study sheets and share them with the world. If you are logged in, you will receive credit for authoring
	the study sheet, and your beautiful name will forever be displayed under the title of your study sheet. :)
	</p>
    <br>
    <font size="2">Brian Lam (the indubitably good-looking young woman), Raymond Zeng, Dexter Tong, and Jason Peng</font>
  </body>
</html>
