<!DOCTYPE HTML>
<head>
	<style type="text/css">
      canvas{
      background-color:white;
      box-shadow:4px 4px 8px cyan;
      }
      
	  body{
      background-color:black;
      color:white;
      padding-left:50px;
	  }
	  
  h1{
      font-size:30px;
      color:cyan;
  }
	  
  a{
      color:white;
  }

  table{
     border-color:white;
     border-style:dashed;
     border-width:1px;
 }
	</style>
</head>
<body>
	<h1>StudyBoard</h1>
	<table>
		<col width="50%">
		<col width="500">
		
		<td>
		<form>
			<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="text-username"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="text-password"></td>
			</tr>
			</table>
			<button name="button-submit">Show me the awesome</button>
		<form>
		<br><br><br>
		<ul><u>A Period 7 Software Development project by:</u>
			<li>Brian Lam</li>
			<li>Raymond Zeng</li>
			<li>Dexter Tong</li>
			<li>The other dude</li>
		</ul>
		</td>
		<td>
		<font color=cyan>StudyBoard</font> is an online study tool and a wealth of information. 
		</td>
	<table>
</body>