canvas {
	background-color:white;
	box-shadow:4px 4px 8px cyan;
}
body {
	background-color:black;
	color:white;
	padding-left:50px;
}
h1 {
	font-size:30px;
	color:cyan;
}
a {
	color:white;
}
table {
	border-color:white;
	border-style:dashed;
	border-width: 1px;
}