<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="static/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="all"/>
  </head>
  <body onload="init()">
    <div id="fb-root">
    </div>
    <canvas id="can" width="960" height="540" style="position:absolute;top:120px;left:25px;border:2px solid;"></canvas>
    <h1>StudyBoard</h1>
    <header>
      <a href="home.html">Home</a>
      <a href="whiteboard.html">Live Whiteboard</a>
      <a href="sheets.html">Studysheets</a>
      <a href="credits.html">Credits</a>
      <a href="#chat" id="trigger"><font color="cyan">Show Live Chat</a>
    </header>
    <div id="panel">
    </div>
    <div id="fb-postlog" style="position:absolute;right:100px;top:10px;">
      <div id="user-info">
      </div>
      <button id="login_button">Login</button>
      <div id="debug">
      </div>
    </div>
    <div class="colorpalette" style="position:absolute;top:120px;left:994px;">
      <canvas id="palette" width="210" height="250"></canvas>
      <div class="ctrlpanel">
	<div>
	  <label>RGB</label><input type="text" id="RGB"/>
	</div>
	<div>
	  <label>HEX</label><input type="text" id="HEX"/>
	</div>
      </div>
    </div>
    <div id="paletteselection">
      <div style="top:1%;left:1200px;">
	Choose Color
      </div>
      <div class="color" ; style="top:1%;left:1200px;width:30px;height:30px;background:green;border:2px solid white;" id="green" onclick="color(this)">
      </div>
      <div class="color" ; style="top:1%;left:1250px;width:30px;height:30px;background:blue;border:2px solid white;" id="blue" onclick="color(this)">
      </div>
      <div class="color" style="top:1%;left:1300px;width:30px;height:30px;background:red;border:2px solid white;" id="red" onclick="color(this)">
      </div>
      <div class="color" style="top:1%;left:1200px;width:30px;height:30px;background:yellow;border:2px solid white;" id="yellow" onclick="color(this)">
      </div>
      <div class="color" style="top:1%;left:1250px;width:30px;height:30px;background:orange;border:2px solid white;" id="orange" onclick="color(this)">
      </div>
      <div class="color" style="top:1%;left:1300px;width:30px;height:30px;background:black;border:2px solid white;" id="black" onclick="color(this)">
      </div>
      <div style="top:23%;left:1200px;">
	Eraser
      </div>
      <div class="color" style="top:25%;left:1200px;width:100px;height:30px;background:white;border:2px solid;" id="white" onclick="color(this)">
      </div>
</div>
    <input type="button" value="save" id="btn" size="30" onclick="save()" style="position:absolute;top:680px;left:25px;">
    <input type="button" value="clear" id="clr" size="23" onclick="erase()" style="position:absolute;top:680px;left:80px;">
    <input type="button" value="load" id="ld" size="23" onclick="load()" style="position:absolute;top:680px;left:135px">
    <input type="button" value="start real time" id="ss" size="23" onclick="startSet(); startGet()" style="position:absolute;top:680px;left:180px">
    
    <p style="position:absolute;top:700px;left:25px;">
      Credits to <a href="http://stackoverflow.com/questions/2368784/draw-by-mouse-with-html5-canvas">Stackoverflow</a> for the whiteboard code
    </p>
  </body>
</html>
